{% extends 'webapp/base.html' %}

{% block content %}
    
    <body>

        <br>
        <br>

        <div class="text-center">

            <h3> Welcome to <u>TrackNest</u> – Simplifying Management Like Never Before! </h3>

            <br>

            <h5> Take control of your records effortlessly and stay ahead with seamless management! </h5>

    
            <hr>
            <br>

            <a class="btn btn-primary" type="button" href="{% url 'register' %}"> Create your account &nbsp; <i class="fa fa-user-plus" aria-hidden="true"></i> </a>

        </div>

    </body>        


{% endblock %}

